@import "./../../abstracts/vars.scss";
@import "./../../base/mixins.scss";

section.contact-form .progress-bar {
  max-width: 400px;
  overflow: hidden;
  display: flex;
  margin: 4rem auto 2rem;
  user-select: none;

  .step {
    position: relative;
    text-align: center;
    width: 100%;

    &.done .label {
      background-color: $blue-1;
      border: 2px solid $blue-1;
      @include color($white-0);

      &::after {
        background: $blue-1;
      }
    }

    .label {
      display: inline-block;
      width: 25px;
      height: 25px;
      font-weight: 500;
      font-size: 18px;
      border: 2px solid $green-0;
      border-radius: 25px;
      background-color: $white-0;
      @include color($green-0);

      &::after {
        position: absolute;
        content: "";
        bottom: 12px;
        left: calc(50% + 12.5px);
        height: 2px;
        width: 100%;
        background: $green-0;
      }
    }

    &:last-child .label:after {
      display: none;
    }

    .icon {
      position: absolute;
      @include inset-position(0, 0, 0, 0);
    }
  }
}

section.contact-form form#contact-form {
  max-width: 600px;
  overflow: hidden;
  margin: auto;

  .form-outer {
    position: relative;
    left: 0%;
    display: flex;
    width: 500%;

    @include transition(left 0.3s ease-in-out);

    .stepper {
      flex: 1;
    }
  }

  .input-container {
    margin: 2rem 0;

    &:first-child {
      margin-top: 0;
    }
  }

  .button-container {
    display: flex;
    flex-wrap: wrap;

    button {
      width: 150px;
      margin-bottom: 1rem;
      margin-right: 1rem;

      &:last-child {
        margin-right: 0;
      }

      .contact-spinner {
        display: none;
        margin: 0 1rem;
      }
    }
  }
}

section.contact-form #message-sent {
  max-width: 768px;
  margin: auto;
  display: none;

  h4 {
    text-align: center;
    margin: 2.5rem 0 1rem;
    @include color($green-0);
  }

  p {
    text-align: center;
  }
}
