@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap");


////@font-face {
//  font-family: "Nunito";
//  font-weight: 400;
//  src: url("fonts/nunito/woff2/Nunito-Regular.woff2") format("woff2"),
//    url("fonts/nunito/woff/Nunito-Regular.woff") format("woff");
//}

//@font-face {
//  font-family: "NunitoItalic";
//  font-style: italic;
//  font-weight: 400;
//  src: url("fonts/nunito/woff2/Nunito-Italic.woff2") format("woff2"),
//    url("fonts/nunito/woff/Nunito-Italic.woff") format("woff");
//}

//@font-face {
//  font-family: "NunitoMedium";
//  font-weight: 500;
//  src: url("fonts/nunito/woff2/Nunito-Medium.woff2") format("woff2"),
//    url("fonts/nunito/woff/Nunito-Medium.woff") format("woff");
//}

//@font-face {
//  font-family: "NunitoSemiBold";
//  font-weight: 600;
//  src: url("fonts/nunito/woff2/Nunito-SemiBold.woff2") format("woff2"),
//    url("fonts/nunito/woff/Nunito-SemiBold.woff") format("woff");
//}

//@font-face {
//  font-family: "NunitoBold";
//  font-weight: 700;
//  src: url("fonts/nunito/woff2/Nunito-Bold.woff2") format("woff2"),
//    url("fonts/nunito/woff/Nunito-Bold.woff") format("woff");
//}

//@font-face {
//  font-family: "NunitoExtraBold";
//  font-weight: 800;
//  src: url("fonts/nunito/woff2/Nunito-ExtraBold.woff2") format("woff2"),
//    url("fonts/nunito/woff/Nunito-ExtraBold.woff") format("woff");
//}

//@font-face {
//  font-family: "NunitoBlack";
//  font-weight: 900;
//  src: url("fonts/nunito/woff2/Nunito-Black.woff2") format("woff2"),
//    url("fonts/nunito/woff/Nunito-Black.woff") format("woff");
//}

@font-face {
  font-family: "ShadowsIntoLight";
  font-weight: 400;
  src: url("fonts/shadows_into_light/woff2/ShadowsIntoLight-Regular.woff2")
      format("woff2"),
    url("fonts/shadows_into_light/woff/ShadowsIntoLight-Regular.woff")
      format("woff");
}
