@import "./../../abstracts/vars.scss";
@import "./../../base/mixins.scss";

// TODO:: Make a theme for dark background
article.post {
  &.dark {
    * {
      @include color($white-0);
    }

    small span.seperator {
      background-color: $white-0;
    }
  }

  a.post-image-link {
    display: block;

    picture {
      display: block;
      height: 300px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        @include transform(scale(1));
        @include transition(transform 1s ease);

        &:hover {
          @include transform(scale(1.05));
        }
      }
    }
  }

  a.more {
    text-decoration: underline;
  }

  h4 {
    display: inline-block;
    margin: 1.5rem 0 0.75rem;
    max-width: 400px;
    width: 75%;
    line-height: 1.2;
    @include color($blue-0);

    @media (max-width: $xl-screen-min) {
      min-width: 100%;
      width: 100%;
    }
  }

  p {
    line-height: 1.5;
    margin: 1.5rem 0 2rem 0;
  }

  small {
    display: flex;
    align-items: center;

    p {
      line-height: initial;
      margin: 0;
    }

    span.seperator {
      display: inline-block;
      content: "";
      width: 5px;
      height: 5px;
      border-radius: 5px;
      background-color: $blue-0;
      margin: 0 0.5rem;
    }
  }
}
