$white-0: #ffffff;
$white-1: #faf9f9;
$white-2: #ececec;
$white-3: #fdf9f3;
$white-4: #d9d9d9;

$grey-0: #36474f;
$grey-1: #999;
$grey-2: #9e9797;
$grey-3: #666363;

$green-0: #749325;
$green-1: #a2cc4c;
$green-2: #c4f353;
$green-3: #d7e490;
$green-4: #b5dbd2;

$blue-0: #10344c;
$blue-1: #006495;

$black-0: #000000;
$black-1: #1a1c1e;

$youtube: #ff0000;
$facebook: #4267b2;
$tiktok: #000000;
$instagram: #c13584;
$messenger: #006aff;
$whatsapp: #25d366;
$email: #db4437;

$shadows: "ShadowsIntoLight";
$nunito: "Nunito";
$nunito-italic: "NunitoItalic";
$nunito-medium: "NunitoMedium";
$nunito-semibold: "NunitoSemiBold";
$nunito-bold: "NunitoBold";
$nunito-extrabold: "NunitoExtraBold";
$nunito-black: "NunitoBlack";

$font-size-10xlarge: 10.4rem;
$font-size-9xlarge: 9.4rem;
$font-size-8xlarge: 8.4rem;
$font-size-7xlarge: 7.4rem;
$font-size-6xlarge: 6.4rem;
$font-size-5xlarge: 5.4rem;
$font-size-4xlarge: 4.4rem;
$font-size-3xlarge: 3.2rem;
$font-size-2xlarge: 2.8rem;
$font-size-xlarge: 2.4rem;
$font-size-large: 2.2rem;
$font-size-medium: 1.8rem;
$font-size-small: 1.6rem;
$font-size-xsmall: 1.4rem;
$font-size-xxsmall: 1.2rem;
$font-size-xxxsmall: 1rem;

$sm-screen-min: 400px;
$md-screen-min: 600px;
$lg-screen-min: 768px;
$xl-screen-min: 1024px;
$xxl-screen-min: 1280px;
$xxxl-screen-min: 1400px;
