@import "./../abstracts/vars.scss";
@import "./../base/mixins.scss";

header#main-header {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  padding: 3rem 1.5rem;
  background-color: $white-0;
  @include box-sizing(border-box);
  @include transition(padding 0.3s ease);

  @media screen and (min-width: 320px) and (max-width: 900px) and (orientation: landscape) {
    padding: 1.5rem;
  }

  @media (max-width: $md-screen-min) {
    padding: 1.5rem;
  }

  &.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
  }

  &.active {
    padding: 1.5rem;

    @media (max-width: $md-screen-min) {
      padding: 1rem;
    }
  }

  &.open .wrapper .overlay#menu-overlay {
    @media (max-width: 991px) {
      display: block;
    }
  }

  .wrapper {
    display: grid;
    grid-template-columns: 170px 2fr 170px;
    place-items: center;
    max-width: 1400px;
    width: 100%;
    margin: auto;

    @media (max-width: 1430px) {
      grid-template-columns: 170px 2fr 80px;
    }

    @media (max-width: 991px) {
      grid-template-columns: 170px 2fr;
    }

    a#logo {
      img {
        width: 100%;
      }
    }

    .overlay {
      display: none;
      position: fixed;
      width: 100%;
      height: 100%;
      background-color: $black-1;
      opacity: 0.4;
      @include inset-position(0, 0, 0, 0);
    }

    aside#navigation-menu {
      display: grid;
      grid-template-columns: 1fr;
      width: 100%;
      align-items: center;

      @media (max-width: 991px) {
        position: fixed;
        grid-template-rows: 1fr 80px;
        height: 100%;
        background: $white-0;
        width: 300px;
        @include inset-position(0, -100%, 0, auto);
        @include transition(right 0.3s ease);

        &.open {
          display: grid;
          @include inset-position(0, 0, 0, auto);
        }
      }

      nav {
        justify-self: center;

        @media (max-width: 991px) {
          width: 100%;
        }

        ul#main-nav-list {
          display: flex;

          @media (max-width: 991px) {
            flex-direction: column;
          }

          li {
            position: relative;
            list-style-type: none;
            margin: 0 1rem;

            @media (max-width: 991px) {
              margin: 0 3rem;
            }

            &.language {
              height: 40px;
              display: flex;
              align-items: center;
            }

            &.has-sub-menu:hover {
              // Hover affect only on desktop/tablet version
              @media (min-width: 991px) {
                a span.icon {
                  @include transform(rotate(0.5turn));
                }

                &.active {
                  opacity: initial !important;
                  visibility: initial !important;
                }

                ul {
                  opacity: 1 !important;
                  visibility: visible !important;
                  @include transition(all 0.2s ease);
                }
              }
            }

            &.has-sub-menu.active {
              @media (max-width: 990px) {
                a span.icon {
                  @include transform(rotate(0.5turn));
                }

                ul {
                  @media (max-width: 991px) {
                    opacity: 1 !important;
                    visibility: visible !important;
                    max-height: 400px;
                    @include transition(all 1s ease-out);
                  }
                }
              }
            }

            a {
              //font-family: $nunito-bold;
              font-family: $nunito;
              font-weight: 700;
              text-transform: uppercase;
              height: 40px;
              @include transform(translateY(0px));
              @include transition(all 0.3s ease-out);

              @media (max-width: 991px) {
                font-family: $nunito;
              }

              span.icon {
                margin: 0 0 0 0.5rem;
                width: auto;
                @include transition(transform 0.3s ease-out);
              }

              &:hover,
              &.active {
                @include color($green-0);
              }

              &:hover {
                @include transform(translateY(-8px));

                @media (max-width: 991px) {
                  @include transform(translateY(0));
                }
              }
            }

            ul.sub-nav {
              position: absolute;
              background-color: $white-1;
              opacity: 0;
              visibility: hidden;
              @include transition(all 0.2s ease);

              @media (max-width: 991px) {
                display: block;
                position: relative;
                opacity: 1;
                visibility: visible;
                background-color: transparent;
                max-height: 0;
                overflow: hidden;
              }

              &:hover,
              &.active {
                opacity: 1;
                visibility: visible;
              }

              li {
                margin: 0;

                &:last-child a {
                  border-bottom: none;
                }

                a {
                  height: 60px;
                  padding: 1rem 1.25rem;
                  font-family: $nunito;
                  border-bottom: 1px solid $grey-1;
                  @include box-sizing(border-box);
                  @include color($grey-1);

                  @media (max-width: 991px) {
                    height: inherit;
                    border-bottom: none;
                    @include color(inherit);
                  }

                  &:hover,
                  &.active {
                    @include transform(translateY(0px));
                    @include color($black-1);
                    background-color: $white-2;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// Social media list
ul.social-media-list {
  display: flex;

  @media (max-width: 991px) {
    justify-content: center;
  }

  a {
    @include transform(translateY(0px));
    @include transition(0.3s ease-out);

    &:hover {
      @include transform(translateY(-8px));

      &.facebook {
        @include color($facebook);
      }
      &.instagram {
        @include color($instagram);
      }
      &.youtube {
        @include color($youtube);
      }
      &.tiktok {
        @include color($tiktok);
      }
      &.messenger {
        @include color($messenger);
      }
      &.whatsapp {
        @include color($whatsapp);
      }
      &.email {
        @include color($email);
      }
    }

    span.icon {
      margin: 0 10px;
    }
  }
}
