@import "./../../abstracts/vars.scss";
@import "./../../base/mixins.scss";

a {
  position: relative;
  display: flex;
  text-decoration: none;
  align-items: center;
  @include color($grey-0);

  &:hover {
    @include color($green-0);
  }

  span.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 30px;
    margin-right: 10px;
    margin-left: 10px;
  }
}
